.containerNav {
    width: 100%;
    height: auto;
    background: #74AC24 !important;
}

.navbarDiv {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoNav {
    margin: auto auto;
    width: 7rem;
    cursor: pointer;
}

.navbarDiv ul li {
    list-style: none;
    display: inline-block;
    margin: auto 2rem auto 0;
}

ul {
    padding: 20px;
}


.navbarDiv ul li a {
    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.2rem;
}

.navbarDiv ul li a:hover {
    text-decoration: none;
    color: white;
}

.active {
    background-color: #496D17;
    border-bottom: 3px solid white;
    padding: 20px;
}

.navbarDiv ul li:hover::before {
    width: 100%;
}

@media all and (max-width:705px) {

    ul {
        padding: 20px;

    }

    .navbarDiv ul li a {
        display: flex;
        margin-bottom: 10px;
        text-align: center;
    }



    .active {
        background-color: #496D17;
        border-bottom: 3px solid white;
        padding: 20px;
    }

}

@media all and (max-width:662px) {

    ul {
        padding: 20px;

    }

    .navbarDiv ul li a {
        display: flex;
        margin-bottom: 5px;
        text-align: center;
    }



    .active {
        background-color: #496D17;
        border-bottom: 3px solid white;
        padding: 0px;
    }

}